client-cert-test/.settings
client-cert-test/.classpath
client-cert-test/.project
client-cert-test/target
spring-mvc-client3/.settings
spring-mvc-client3/.classpath
spring-mvc-client3/.project
spring-mvc-client3/target
spring-mvc-client4/.settings
spring-mvc-client4/.classpath
spring-mvc-client4/.project
spring-mvc-client4/target
