<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <debug />

    <global-method-security pre-post-annotations="enabled" />

    <http pattern="/static/**" security="none"/>
    <http pattern="/loggedout.jsp" security="none"/>

    <http use-expressions="true">
    	<intercept-url pattern="/secure1/**" access="hasRole('supervisor')" requires-channel="https"/>
        <intercept-url pattern="/secure/**" access="isAuthenticated()" requires-channel="https"/>
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="https"/>

    	<x509 subject-principal-regex="CN=(.*?)," user-service-ref="accountService" />        
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service id="accountService">
                <user name="client" password="" authorities="supervisor, user, teller" />
                <user name="client1" password="" authorities="user" />
 			</user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>